includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 6
  parallel:
    maximumNumberOfProcesses: 1
  paths:
    - src
    - tools
    - ideaxperts-endless-aisles.php
  stubFiles:
    - tests/stubs/action-scheduler.stub
    - tests/stubs/woocommerce-functions.stub
  scanFiles:
    - tests/stubs/woocommerce-functions.stub
  excludePaths:
    analyse:
      - vendor
  treatPhpDocTypesAsCertain: false
